<%- include header %>

   <form method="post">
   		<lable>用户名：<input type="text" name="name" /></lable><br>
   		<lable>密  码：<input type="password" name="password" /></lable><br>
   		<lable>确认密码：<input type="password" name="password_repeat" /></lable><br>
   		<lable>邮  箱：<input type="email" name="email" /></lable><br><br>
   		<input type="submit" value="register" />
   </form>

<%- include footer %>